
.container2{
  display:flex;
  direction: column;
  justify-content: center;
  width: 100%;
  margin:0;
  padding-top:15%;
}


.form-wrapper2{
  display: flex;
  flex-direction: column;
  width: 40%;
  background: white;
  border-radius:10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  justify-content: space-between;
}

.title2{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  padding-top: 2%;
  text-align: left;
  padding-bottom: 1%;
  font-weight: bolder;
  color:rgb(7, 187, 187);
}

.sub-title-city-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.sub-title2{
  font-size: 1.15em;
  font-family: 'Ubuntu', sans-serif;
  color:rgb(7, 187, 187);
  padding-bottom: 20px;
  text-align: left;
}

.city-name{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.15em;
  color:black;
  padding-left:8px;
  padding-bottom: 20px;
  text-align: left;
}

.temperature-wrapper{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.temperature{
  width: 40%;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  border-radius: 5px;
  border:none;
  background-color:rgb(7, 187, 187);
  color:white;
  font-weight: bolder;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.feel-cold{
  display: flex;
  flex-direction: row;
  width: 57%;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color:rgb(12, 194, 12);
  font-size: 30px;
  padding-top: 2%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.feel-warm{
  display: flex;
  flex-direction: row;
  width: 57%;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color:rgb(255, 0, 76);
  font-size: 30px;
  padding-top: 2%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}


.retry{
  display: flex;
  flex-direction: row;
  width: 57%;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color:rgb(7, 187, 187);
  font-size: 30px;
  padding-top: 2%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}


@media screen and (max-width: 1062px)
{
  .form-wrapper2{
    min-width: 400px;
    padding: 10px;
  }
}
