 
  .header-wrapper {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    background-color: black;
    box-shadow: 10px 5px 10px rgba(182, 182, 182, 0.40);
    top:0;
    left:0;
    width: 100%; 
    padding-top:0.7%;   
    padding-bottom:0.7%;   
  }
  
 .container-headerLogo {
    width: 14%;
    padding-left : 2%;
    padding-right: 2.5%;
  } 

  img{
    width: 200px;
  }

  .weather-nav{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-align:center;
    margin-right:3%;
  }

  .weather-nav:hover{
    color:aqua;
  }

 

  